src/main/mule/task-two.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="task2LookUpFlow" doc:id="a8c998c3-3e4d-4593-b8a2-49b76fec58dd" >
		<set-payload value='#[payload]' doc:name="Set Lookup Payload" doc:id="e47318e0-4c0b-41f2-9c24-6ebc89eb501f" />
		<logger level="INFO" doc:name="Log Payload" doc:id="a963f608-d76e-4a36-979d-f7fe618d0143" message="########################## LookUp Flow Payload  :: #[payload] ##################################"/>
	</flow>
</mule>
