src/main/mule/task-four-2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="task4.2Flow" doc:id="63a3fd22-2048-4eb4-a06b-35883b689683" >
		<ee:transform doc:name="Set employee Payload and scoreBoard Vars" doc:id="74de5836-16a7-4ae8-92c6-c0b54f97d292">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
   "employee":[
      {
         "id":"A007",
         "first_name":"Jan",
         "last_name":"Doe"
      },
      {
         "id":"A008",
         "first_name":"Ron",
         "l ast_name":"David"
      },
      {
         "id":"A009",
         "first_name":"Jane",
         "last_name":"Kane"
      },
      {
         "id":"A010",
         "first_name":"Marsh",
         "last_name":"Megan"
      },
      {
         "id":"A011",
         "first_name":"Kelly",
         "last_name":"Mitch"
      },
      {
         "id":"A012",
         "first_name":"Chris",
         "last_name":"Vaste"
      }
   ]
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="scoreBoard"><![CDATA[%dw 2.0
output application/json
---
{
   "scoreBoard":[
      {
         "id":"A007",
         "subjects":[
            "Maths",
            "English",
            "Arts",
            "Drawimgs"
         ],
         "score":[
            80,
            75,
            89,
            100
         ]
      },
      {
         "id":"A008",
         "subjects":[
            "Maths",
            "English",
            "Arts",
            "Drawimgs"
         ],
         "score":[
            70,
            85,
            69,
            90
         ]
      },
      {
         "id":" A021",
         "subjects":[
            "Maths",
            "English",
            "Arts",
            "Drawimgs"
         ],
         "score":[
            90,
            87,
            77,
            95
         ]
      }
   ]
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="c6775ebf-f60f-43b9-a085-8e979a0823b3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var inputPayload = payload.employee
var scoreBoardList = vars.scoreBoard.scoreBoard
---
(inputPayload map (v) -> using (id = v.id) 
{	id : id,
	first_name: v.first_name,
	last_name: v.last_name,
	(scoreBoardList filter ($.id contains id) map (sv) -> {
		subjects: sv.subjects,
		score: sv.score
	})
}) filter $.subjects == null]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ffaac582-e9c6-44f6-911b-c8ed02e565cd" message="Task 4.2 OUTPUT Payload :: #[payload]"/>
	
	</flow>
</mule>
